
.bugattibar {
    height: 50px;
    width: 25%;
    position: fixed;
    bottom: 40px;
    left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    border: 1px solid rgba(255, 255, 255, 0.025);
    z-index: 7;
    transition: margin-top 0.5s;

    button {
        padding: 70px;
        font-size: 17.5px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        color: white;

        &:first-child { 
            background: transparent;
        }

        &:last-child { 
            background: transparent;
        }
    }

    img {
        height: 50px;
        width: auto;
        margin: 0 auto;
        margin: -106px auto 0;
    }
}
